* {
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans';
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 13vh;
    background-color: white;
    /*view port height; this gets you the percent of the full screen independent of parent*/
    position: fixed;
    display: flex;
    align-items: center;
    /*justify-content: space-between*/
    justify-content: space-around;
    /*this is for the Space around like the end margin. It will give it a little space. */
    /*to fix the header position*/
    /*When you give position fixed, The margin will move upwards towards the object that has position fixed. */

}

#fake-header {
    width: 100%;
    height: 13vh;
}

#logo {
    height: 70%;
}

#logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text {
    color: rgb(0, 0, 253);
    display: flex;

}

.text:hover {
    color: rgb(0, 176, 211);
}


.icon {
    padding: 10px;
    border-radius: 50%;
    padding: 10px
}

.icon:hover {
    background-color: lightblue;

}

#login {
    display: flex;
    border-radius: 50px;
    padding: 10px;
}

#login:hover {
    background-color: lightblue;
}

#try {
    background-color: green;
    padding: 10px 25px;
    color: white
}

#try:hover {
    background-color: rgb(3, 68, 3);
}

#page1 {
    height: 87vh;
    width: 100%;
}

#strip {
    background-color: darkblue;
    width: 100%;
    height: 8%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#strip u {
    margin-left: 40px
}

#content {
    height: 76%;
    width: 100%;
    display: flex;
    align-items: center
}

#box1 {
    width: 50%;
    height: 95%;
    background-color: white;
    margin: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#b1 {
    padding: 10px;
    margin: 30px;
    color: white;
    background-color: rgb(17, 171, 223);
    border: solid
}

#b1:hover {
    background-color: darkblue;
}

#b2 {
    padding: 10px;
    margin: 30px;
    background-color: white;
    color: rgb(17, 171, 223);
    border: solid
}

#b2:hover {

    background-color: lightblue;

}

#box2 {
    width: 50%;
    height: 95%;
    margin-right: 10px;
    overflow: hidden
}

#box2 img {
    object-fit: cover;
}

#footer {
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkblue;
}

#page2 {
    width: 100%;
    height: 87vh;
    background-color: green;
}