* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {

    width: 100%;
    height: 100%;
    background-color: white;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 230px;
    border-radius: 20px;
    border: 7px;
    border: solid salmon;
    overflow: hidden
}


#card1 {
    z-index: 4;
    /*z-index is used for placing the obj in the front the more the number the closest for the front the obj is*/
}

#card2 {
    z-index: 3;
    rotate: -6deg;
}

#card2:hover {
    z-index: 10;
    rotate: -6deg;
}

#card3 {
    z-index: 2;
    rotate: -12deg;
}

#card3:hover {
    z-index: 10;
    rotate: -12deg;
}

#card4 {
    z-index: 1;
    rotate: -18deg;
}

#card4:hover {
    z-index: 10;
    rotate: -18deg;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}